@model Ticketing_System.Models.Messages

<tr>
    <td>
        @Html.DisplayFor(m => m.Ticket.Heading)
    </td>
    <td>
        @Html.DisplayFor(m => m.SendDate)
    </td>
    <td>
        @Html.DisplayFor(m => m.Author)
    </td>
    <td>
        @Html.DisplayFor(m => m.State)
    </td>
    <td>
        @Html.DisplayFor(m => m.Content)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Details", "Details", new { id = Model.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = Model.Id })
    </td>
</tr>